<div class="list-movie">
    {% for movie in movie_list.movies %}
        <div class="list-movie__item">
            <span class="list-movie__item-title">
                {{ movie.title }}
            </span>

            <p class="list-movie__item-overview">
                {{ movie.overview }}
            </p>

            <button class="list-movie__item-btn">
                More details
            </button>
        </div>
    {% endfor %}
</div>
